*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-image: url("../img/zengarden.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button, input, .incrementBtn, .decrementBtn, .resetBtn {
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
}

.titleH1{
    text-align: center;
    margin-top: 130px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    text-transform: uppercase;

}

.resultBox{
    text-align: center;
    color: white;
    margin: 20px 0 20px 0;
    font-size: 30px;
    padding: 30px;
}



.decrementBtn{
    margin-right: 50px;
    font-size: 20px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
    border: 5px solid white; 
    
}

.decrementBtn:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}

.incrementBtn{
    margin-left: 40px;
    font-size: 20px;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
    border: 5px solid white; 
    

}
.incrementBtn:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}
.resetBtn{
    margin-right: 10px;
    font-size: 15px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    border: 5px solid white; 

}
.resetBtn:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}
#message {
    display: none;
    padding: 20px;
    background-color:#7aa474a9;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    
}


@media only screen and (max-width: 378px) {
    .incrementBtn, .decrementBtn, .resetBtn {
        display: block;
        margin: 10px auto; 
    }
}