*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.titleH1{
    text-align: center;
    margin-top: 50px;
    color:aliceblue;

}

.resultBox{
    text-align: center;
    color: white;
    margin: 20px 0 20px 0;
    font-size: 30px;
    padding: 30px;

    
}

.decrementBtn{
    margin-right: 50px;
    font-size: 20px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
    border: 5px solid white; 
    
}

.decrementBtn:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}

.incrementBtn{
    margin-left: 40px;
    font-size: 20px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
    border: 5px solid white; 
    

}
.incrementBtn:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}
.resetBtn{
    margin-right: 10px;
    font-size: 15px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 40px 40px #ffffff inset, 0 0 0 0 #ffffff;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    border: 5px solid white; 

}
.resetBtn:hover{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
}